{% extends "base.html" %}
{% block content %}
<h2>User Dashboard</h2>
<h4>Available Parking Lots</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th><th>Price</th><th>Address</th><th>Pin</th><th>Available Spots</th><th>Reserve</th>
        </tr>
    </thead>
    <tbody>
        {% for lot in lots %}
        <tr>
            <td>{{ lot.prime_location_name }}</td>
            <td>₹{{ lot.price }}</td>
            <td>{{ lot.address }}</td>
            <td>{{ lot.pin_code }}</td>
            <td>
                {{ lot.maximum_number_of_spots }}
            </td>
            <td>
                {% set available_spots = parking_spots | selectattr('lot_id', 'equalto', lot.id) | selectattr('status', 'equalto', 'A') | list %}
                {% if available_spots|length > 0 %}
                    <a href="{{ url_for('user.reserve', lot_id=lot.id) }}" class="btn btn-sm btn-primary">Reserve</a>
                {% else %}
                    <span class="text-danger">Full</span>
                {% endif %}

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h4>Your Reservations</h4>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Lot</th><th>Spot</th><th>Parked At</th><th>Left At</th><th>Cost</th><th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for res in reservations %}
        <tr>
            <td>{{ res.spot_id }}</td>
            <td>{{ res.spot_id }}</td>
            <td>{{ res.parking_timestamp }}</td>
            <td>{{ res.leaving_timestamp or 'Active' }}</td>
            <td>{% if res.parking_cost %}₹{{ res.parking_cost }}{% else %}-{% endif %}</td>
            <td>
                {% if not res.leaving_timestamp %}
                <form method="POST" action="{{ url_for('user.release', reservation_id=res.id) }}">
                    <button class="btn btn-sm btn-danger">Release</button>
                </form>
                {% else %}
                Released
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
